<!DOCTYPE html>
<html>
  <head>
    <title>OdinKittens</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<% flash.each do |message_type, message| %>
      <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
    <% end %>
    <% unless flash.empty? %>
    	<hr>
  	<% end  %>

  	<%= link_to "All Kittens", root_url %>
  	<%= link_to "New Kitten", new_kitten_path %>
    <%= yield %>
  </body>
</html>
